```{=html}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/academicons@1.9.1/css/academicons.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  
  .ai-lg {
    font-size: 1.2em;  /* Adjust as needed */
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .card {
    margin-bottom: 0;
    margin-top: 0;
    border: 0;
    padding-bottom: 0;
  }
  
  .collapse {
    margin: 0;
    padding: 0;
  }



</style>

<ul class="list">
  <% for (const item of items) { %>
    <li <%= metadataAttrs(item) %>>
      <%= item.title %>
      <br/>

        <small class="text-muted">
          <%= item.year %>. <%= item.author %>. <%= item.journal %>.
        </small>
      
     <br/>
      
      <% if (item.pubopen) { %>
        <a role="button" href="<%= item.pubopen %>" type="button" class="btn btn-outline-secondary btn-xs"> 
          <i class="ai ai-open-access ai-lg"></i> Open Access
        </a>
      <% } %>
      
      <% if (item.pubclosed) { %>
        <a role="button" href="<%= item.pubclosed %>" type="button" class="btn btn-outline-secondary btn-xs"> 
          <i class="ai ai-closed-access ai-lg"></i> Publisher's Version 
        </a>
      <% } %>
      


      
      <% if (item.prereg) { %>
        <a role="button" href="<%= item.prereg %>" type="button" class="btn btn-outline-secondary btn-xs"> 
          <i class="ai ai-preregistered ai-lg"></i> Preregistration 
        </a> 
      <% } %>
      
      <% if (item.abstract) { %>
        <button class="btn btn-outline-secondary btn-xs" type="button" data-bs-toggle="collapse" data-bs-target="#<%= item.short%>" aria-expanded="false" aria-controls="<%= item.short%>">
          <i class="bi bi-arrow-down-circle-fill ai-lg"></i> Abstract
        </button>
        <div class="collapse" id="<%= item.short%>">
          <div class="card card-body">
            <%= item.abstract %>
          </div>
        </div>
      <% } %>

      <hr>
    </li>
  <% } %>
</ul>

```